/* VARIABLES */

:root {
  /* Fonts */

  --font-family-serif: "Newsreader", Georgia, serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-code: "Quicksand", sans-serif;
  --font-family-sans: "Quicksand", sans-serif;

  /* Colors */

  --color-primary-rgb: 0, 0, 0;
  --color-secondary-rgb: 255, 255, 255;
  --color-accent-rgb: 0, 0, 255;

  --color-primary: rgb(
    var(--color-primary-rgb, black)
  ); /* used for main color */
  --color-secondary: rgb(
    var(--color-secondary-rgb, white)
  ); /* used for background and text button color */
  --color-accent: rgb(
    var(--color-accent-rgb, blue)
  ); /* used for action color (link, hover, selection, edit mod) */

  /* Font-weight */

  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Font-size */

  --font-size-base: 1rem; /* 16px */

  --font-size-1: calc(var(--font-size-base) * 1.125); /* 18px */
  --font-size-2: calc(var(--font-size-base) * 1); /* 16px */
  --font-size-3: calc(var(--font-size-base) * 0.875); /* 14px */
  --font-size-4: calc(var(--font-size-base) * 0.75); /* 12px */

  /* Line-height */

  --line-height-text: 1.5;
  --line-height-list: 1.375;

  /* Line-height text desktop and mobile */
  /* font-size-1 27px */
  /* font-size-2 24px */
  /* font-size-3 21px */
  /* font-size-4 18px */

  /* Line-height list desktop and mobile */
  /* font-size-1 24.75px */
  /* font-size-2 22px */
  /* font-size-3 19.25px */
  /* font-size-4 16.5px */

  /* Space scale */

  --space-base: 0.75rem; /* 12px */

  /* Heiht-btn */

  --height-btn: calc(var(--space-base) * 3); /* 36px */
  --height-btn-slim: calc(var(--space-base) * 2.5); /* 30px */
  --height-btn-mobile: calc(var(--space-base) * 4); /* 48px */

  /* Padding */

  --padding: var(--height-btn); /* 36px */
  --block-padding: calc(var(--space-base) * 2); /* 24px */

  --padding-btn: var(--space-base); /* 12px */
  --padding-btn-slim: 0.625rem; /* 10px */
  --padding-btn-mobile: 0.875rem; /* 14px */

  /* Margin */

  --margin-block: var(--padding); /* 36px */
  --margin-block-edit: calc(var(--block-padding) / 2); /* 12px */

  --margin-heading: 1.5em;
  --margin-text: 0.5em;
  --margin-list: 0.25em;

  /* Border */

  --border: 0.125rem; /* 2px */

  /* Grid */
  --grid-step: 12px;
  --grid-border: 1px;

  /* Z-index */

  --z-index-base: 999;

  --z-index-viewfinder: var(--z-index-base);
  --z-index-menu: calc(var(--z-index-base) - 1);
  --z-index-edit: calc(var(--z-index-base) - 2);
  --z-index-block: calc(var(--z-index-base) - 3);
  --z-index-grid: 0;
}
