/* ICONS */

.no-arrow {
  display: inline-block;
  margin: 0 calc(var(--block-padding) / 4) calc(var(--block-padding) / 3) 0;
}

.no-arrow:last-child {
  margin: 0;
}

i {
  display: inherit;
  width: var(--height-btn);
  height: var(--height-btn);
  border: calc(var(--border) / 2) solid var(--color-primary);
  outline: calc(var(--border) / 2) solid var(--color-primary);
  background-color: var(--color-primary);
  background-size: cover;
  background-position: center;
  vertical-align: text-top;
}

i:hover {
  background-color: var(--color-accent);
  border: calc(var(--border) / 2) solid var(--color-accent);
  outline: calc(var(--border) / 2) solid var(--color-accent);
}

i.twitter {
  background-image: url("/assets/images/icons/twitter.svg");
}

i.facebook {
  background-image: url("/assets/images/icons/facebook.svg");
}

i.mastodon {
  background-image: url("/assets/images/icons/mastodon.svg");
}

i.instagram {
  background-image: url("/assets/images/icons/instagram.svg");
}

i.linkedin {
  background-image: url("/assets/images/icons/linkedin.svg");
}

/* Icons */
/* À modifier avec du text ou les svg du figma */
.icon {
  width: var(--block-padding);
  height: var(--block-padding);
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  i {
    height: var(--height-btn-mobile);
    width: var(--height-btn-mobile);
  }
  .no-arrow {
    margin: 0 calc(var(--block-padding) / 2) calc(var(--block-padding) / 2) 0;
  }
}
