/* BUTTONS */
/* ajouter line-height 0 aux buttons */

.btn-height {
  /* ? */
  height: var(--height-btn);
}

button,
label,
.btn,
::file-selector-button,
::-webkit-file-upload-button {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-code);
  background: var(--color-secondary);
  padding: 0 var(--padding-btn);
  height: var(--height-btn);
  width: max-content;
}

button,
span,
::file-selector-button,
::-webkit-file-upload-button {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-2);
  text-transform: lowercase;
}

.btn--icon {
  width: var(--height-btn);
  padding: 0;
  align-items: center;
}

.btn:not(.flex-col) .icon + * {
  margin-left: 0.5em;
}

.btn.flex-col .icon + * {
  margin-top: 0.5em;
}

button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Blocks options */

/* Use for selected block buttons */
.flex {
  display: flex;
}

#md-buttons,
#edit-buttons--left {
  position: absolute;
  left: 0;
  z-index: var(--z-index-edit);
}

/* Quick fix. */
.block--selected #edit-buttons--left {
  left: -1px;
}

#md-buttons {
  top: calc(
    0px - calc(var(--height-btn) + var(--margin-block-edit))
  ); /* -48px */
  text-transform: capitalize;
}

#edit-buttons--left {
  bottom: calc(
    0px - calc(var(--height-btn) + var(--margin-block-edit))
  ); /* -48px */
}

#bold {
  font-weight: var(--font-weight-bold);
  text-transform: inherit;
}

#italic {
  font-style: italic;
  text-transform: inherit;
}

#note {
  display: none;
  visibility: collapse;
  /* letter-spacing: -2px; */
}

symbol > #icon-link #quote {
  letter-spacing: 2px;
}

#markdown {
  color: #000;
}

.warn {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

/* Input */

.input-file {
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-medium);
  width: 100%;
  padding: var(--block-padding);
}

::file-selector-button,
::-webkit-file-upload-button {
  display: inline-block;
  margin-right: var(--block-padding);
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  button,
  ::file-selector-button,
  ::-webkit-file-upload-button {
    height: var(--height-btn-mobile);
    font-size: var(--font-size-1);
    padding: 0 var(--padding-btn-mobile);
  }

  button a {
    display: block;
    height: auto;
  }
}
