/* BLOCKS */

/* ?? Maybe use to create a new block */
.front {
  z-index: var(--z-index-edit);
}

.no-select .block {
  user-select: none;
}

.absolute {
  position: absolute;
}

.block {
  position: absolute;
  font-family: var(--font-family-sans);
  border: calc(var(--border) / 2) solid var(--color-primary);
  outline: calc(var(--border) / 2) solid var(--color-primary);
  background-color: var(--color-secondary);
  overflow-wrap: break-word;
  height: auto !important; /* ? */
}

.block .drag {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blocks {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Rulers */

.grid .block::before,
.grid .block::after {
  content: url("data:image/svg+xml,%3Csvg width='9' height='20' viewBox='0 0 9 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4.5L8 1L1 1L0.999999 4.5L4.5 8L8 4.5Z' fill='white' stroke='rgb(255, 149, 45)' stroke-width='2'/%3E%3C/svg%3E%0A");
  display: flex;
  position: absolute;
  right: -5.5px;
  z-index: var(--z-index-block);
}

.block::before {
  top: calc(0rem - var(--border));
}

.block::after {
  bottom: calc(0rem - var(--border));
  transform: scaleY(-1);
}

/* Context menu */

#context-menu {
  position: absolute;
  z-index: var(--z-index-menu);
  pointer-events: all;
  margin-top: 0 !important;
}

.context-menu__button\|.border.prevent-unselect {
  font-size: var(--font-size-4);
  height: var(--height-btn-slim);
  padding: 0 var(--padding-btn-slim);
}

/* Selection */

#selection {
  position: absolute;
  width: 1000vw;
  height: 1000vh;
}

.block--selected {
  border: calc(var(--border) / 2) solid var(--color-accent);
  outline: calc(var(--border) / 2) solid var(--color-accent);
  z-index: var(--z-index-edit) !important;
}

/* Options */

.block--options {
  position: relative;
  justify-content: center;
}

.block--options > div {
  position: relative;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
}

.block--options .btn {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
}

/* Flashing */

.block--flashing {
  animation: flash 0.3s infinite;
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  .blocks {
    width: 100% !important;
    padding-top: 0 !important;
    height: auto !important;
    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .block {
    margin: 0;
    margin-bottom: var(--margin-block);
    outline: none;
    border-right: none;
    border-left: none;
    border-top: var(--border) solid var(--color-primary);
    border-bottom: var(--border) solid var(--color-primary);
    width: 100%;
    transform: translate(0, 0) !important;
    position: static !important;
  }

  .block:not(.block--image) {
    width: 100% !important;
  }

  .block:last-child {
    margin-bottom: 10rem !important;
  }

  .block {
    max-width: 100% !important;
    margin-bottom: var(--padding);
  }

  .block::before,
  .block::after {
    content: "";
  }

  .block:last-child {
    margin-bottom: calc(
      var(--height-btn-mobile) + var(--margin-block)
    ) !important;
  }
}
