/* viewfinder */

/* Sub menu */

.lock-visible {
  display: block !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lock-visible--flex {
  display: flex !important;
}

/* Index */

#viewfinder {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-index-viewfinder);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

#viewfinder.active {
  background-color: rgba(var(--color-primary-rgb), 0.5);
}

#viewfinder input[type="radio"],
#viewfinder input[type="radio"]::before {
  display: none;
}

.viewfinder__section {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
}

.viewfinder__btn {
  pointer-events: all;
}

#viewfinder a {
  font-weight: var(--font-weight-semi-bold) !important;
}

.viewfinder__section--mobile {
  display: none;
}

/* Buttons */

.lock-active,
.lock-active button,
button.active,
.menu .active,
.inputWrapper.active,
.line.active .index__category.active,
::file-selector-button,
::-webkit-file-upload-button {
  background-color: var(--color-primary);
  color: var(--color-secondary) !important;
}

.line:hover > li > button,
.line:hover > li > button > a,
label:hover,
button:not(.off, .no-hover):hover,
button:not(.no-hover):hover + span,
.full__button:hover,
.inputWrapper:hover,
::file-selector-button:hover,
.selected,
#markdown:not(h1, h2, h3, h4, h5, p):hover {
  border-color: var(--color-accent);
  outline-color: var(--color-accent);
  background-color: var(--color-accent) !important;
  color: var(--color-secondary) !important;
  cursor: pointer;
  z-index: 3;
}

.menu li:hover > .wrapper,
.menu li:hover > .wrapper > button,
.menu li:hover > .wrapper > span {
  border-color: var(--color-primary);
  outline-color: var(--color-primary);
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
  cursor: pointer;
  z-index: 3;
}

.menu li:hover > .wrapper.hover,
.menu li:hover > .wrapper.hover > button,
.menu li:hover > .wrapper.hover > span {
  border-color: var(--color-accent);
  outline-color: var(--color-accent);
  background-color: var(--color-accent) !important;
  color: var(--color-secondary) !important;
}

.line:hover,
.border:hover {
  position: relative;
  z-index: var(--z-index-edit);
}

/* Menu */

ul.menu,
.menu ul,
.menu form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  position: relative;
}

.menu__arrow {
  z-index: 1;
  font-family: var(--font-family-code);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: var(--height-btn);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pin {
  width: 1rem;
  height: 1rem;
  position: absolute;
}

.pin--bottom {
  bottom: 1rem;
  left: calc(50vw - 1rem);
}

.menu li {
  display: flex;
  align-items: flex-start;
  position: relative;
  background: var(--color-secondary);
}

.menu li > span {
  cursor: pointer;
  pointer-events: all;
  display: flex;
}

.menu li > ul,
.menu li > form,
.menu li > form > ul {
  display: none;
  position: absolute;
}

ul.lock-visible {
  z-index: 2;
}

.menu li:hover {
  z-index: 3;
}

/* .menu li:hover > span > button,
.menu li:hover > span > span {
  background: var(--color-primary);
  color: var(--color-secondary) !important;
} */

.menu li:hover > ul,
.menu li:hover > form,
.menu li:hover > form > ul {
  display: flex;
}

.menu.top li {
  width: max-content;
  height: 100%;
  max-height: 2.8125rem;
}

.menu li > a {
  padding: 0.5rem 1rem;
}

.menu.bottom ul,
.menu.bottom form,
.menu.bottom li {
  flex-direction: column-reverse;
}

.menu.right ul {
  align-items: flex-end;
}

.menu.right li > ul {
  right: 100%;
}

.menu.right li > span {
  flex-direction: row-reverse;
}

.menu.right form {
  align-items: flex-end;
}

.menu.left li > ul,
.menu.left li > form {
  left: 100%;
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  .viewfinder__section {
    display: none;
  }

  .viewfinder__section--mobile {
    display: flex;
    padding: 0;
    pointer-events: all;
  }

  #index-mobile {
    pointer-events: all;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #index-mobile__background {
    position: fixed;
    z-index: calc(var(--z-index-viewfinder) - 1);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
    opacity: 0.3;
  }

  #menu-mobile {
    position: fixed;
    width: 100vw;
    bottom: 3rem;
    overflow-y: auto;
    background-color: var(--color-secondary);
    min-height: var(--height-btn-mobile);
    max-height: calc(100% - var(--height-btn-mobile));
    z-index: var(--z-index-menu);
    padding-top: calc(var(--border) / 2);
  }

  #menu-mobile li button:hover,
  #menu-mobile li span a:hover,
  button:not(.no-hover):hover + span,
  #menu-mobile li span:hover {
    color: var(--color-primary) !important;
    background-color: #fff !important;
    border-color: var(--color-primary) !important;
    outline-color: var(--color-primary) !important;
  }

  #current-section {
    position: fixed;
    bottom: 0;

    pointer-events: all !important;
    display: flex;

    width: 100%;
    z-index: var(--z-index-viewfinder);

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .current-section--hide {
    bottom: calc(0px - var(--height-btn-mobile)) !important;
  }

  #viewfinder .border {
    border-right: none;
    border-left: none;
  }

  #current-section__return,
  .current-section__title-active,
  #current-section__close {
    background-color: var(--color-accent) !important;
    border-color: var(--color-accent);
    outline-color: var(--color-accent);
  }

  .menu__arrow,
  #current-section__return,
  #current-section__close {
    min-width: var(--height-btn-mobile);
    font-size: var(--font-size-1);
  }

  #current-section__close-image {
    width: 0.6rem;
  }

  .index__button,
  #current-section__title {
    display: block;
    width: 100%;
  }

  .index__button,
  .index__link,
  #current-section__title {
    overflow: hidden;
  }

  .index__button,
  #current-section__title {
    white-space: nowrap;
  }

  .index__link,
  #current-section__title {
    text-overflow: ellipsis;
  }

  .wrapper {
    display: flex;
  }

  .index__button {
    text-align: left;
    color: inherit;
  }

  #current-section__title {
    text-align: center;
  }

  .unvisible {
    visibility: hidden !important;
    pointer-events: none !important;
  }

  /* LEGACY */

  /* Used for the "all" button */
  /* #viewfinder ul .border:first-child {
    justify-content: left;
  } */

  /* Used for active list of buttons */
  /* #viewfinder__bottom--mobile .menu li > ul {
    bottom: 100%;
  } */

  /* #viewfinder__bottom__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
  } */

  /* Used for the buttons (left and right) of the button at the bottom of the menu */
  /* #viewfinder--mobile__current-section button {
  color: inherit;
  background-color: inherit;
  } */

  /*#viewfinder button {
    padding: 0 var(--padding-btn-mobile);
    height: var(--height-btn-mobile);
    width: var(--height-btn-mobile);
    color: var(--color-primary);
  }

  #viewfinder button a {
    width: 100%;
    height: auto;
  } */

  /* Active button */
  /* #viewfinder .active a {
    color: var(--color-secondary) !important;
  } */

  /* Normal button */
  /*
  .index__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #viewfinder .menu__arrow,
  #viewfinder .no-hover {
    height: var(--height-btn-mobile);
    min-width: var(--height-btn-mobile);
  }

  #viewfinder .no-hover {
    color: var(--color-secondary);
  }

  #viewfinder--mobile__current-section__close-image {
    width: 0.61rem;
  }

  .menu li:hover > ul,
  .menu li:hover > form,
  .menu li:hover > form > ul {
    display: none;
  }

  .menu > li > ul span {
    width: 100vw;
  }

  .menu > li > ul button {
    flex-grow: 100;
  }

  .menu span button {
    border-left: none !important;
    border-right: none !important;
  }

  .menu__arrow {
    flex-basis: var(--height-btn-mobile);
    border-right: none !important;
  }

  .active-section > li:not(.active-section) {
    display: none !important;
  }

  .active-section > span {
    display: none !important;
  }

  li.active-section > ul {
    display: flex !important;
  }

  .scroll-y {
    height: calc(100vh - var(--height-btn-mobile));
    overflow: scroll;
  } */

  /* Search */
  /* 
  #search {
    width: 100vw !important;
    justify-content: center !important;
    color: var(--color-secondary) !important;
  }

  #viewfinder li {
    max-height: none;
    height: auto;
  }

  #edit {
    display: none;
  } */

  /* --- */

  /* button:not(.off):hover {
    border-top: var(--border) solid var(--color-accent) !important;
    border-bottom: var(--border) solid var(--color-accent) !important;
    border-left: none !important;
    border-right: none !important;
  } */

  /* .index__link--full {
    width: 95vw;
  } */
}
